In [12]:
import numpy as np
import pandas as pd
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [13]:
#Read the clean data into a pandas df to build the model
path = Path("resources\\clean_data\\fraud_clean_data.csv")
fraud_df = pd.read_csv(path)
fraud_df

,transaction_id,time,category,amount,age,gender,state,city_pop,is_fraud
0,119106,07:55:28,shopping_pos,1.07,59.0,F,CT,5438,0
1,179292,14:05:16,kids_pets,94.99,41.0,M,OK,7163,0
2,540729,16:22:29,kids_pets,31.28,69.0,F,MO,602,0
3,374360,10:44:50,gas_transport,73.06,41.0,M,OK,7163,0
4,314574,01:50:09,misc_net,9.99,52.0,F,IA,2036,0
...,...,...,...,...,...,...,...,...,...
111139,444284,12:42:49,food_dining,8.22,24.0,F,IA,1583,0
111140,89444,21:29:49,personal_care,205.69,35.0,F,OH,7646,0
111141,298536,01:05:31,misc_net,277.63,42.0,M,MA,47249,0
111142,301993,04:16:28,shopping_net,13.29,92.0,F,KY,571,0
111143,354010,23:38:46,food_dining,100.46,39.0,M,WI,1360,1

In [14]:
#Drop the transaction_id since it's not a feature for the model
fraud_df.drop(columns='transaction_id', inplace=True)
fraud_df

            time       category  amount   age gender state  city_pop  is_fraud
0       07:55:28   shopping_pos    1.07  59.0      F    CT      5438         0
1       14:05:16      kids_pets   94.99  41.0      M    OK      7163         0
2       16:22:29      kids_pets   31.28  69.0      F    MO       602         0
3       10:44:50  gas_transport   73.06  41.0      M    OK      7163         0
4       01:50:09       misc_net    9.99  52.0      F    IA      2036         0
...          ...            ...     ...   ...    ...   ...       ...       ...
111139  12:42:49    food_dining    8.22  24.0      F    IA      1583         0
111140  21:29:49  personal_care  205.69  35.0      F    OH      7646         0
111141  01:05:31       misc_net  277.63  42.0      M    MA     47249         0
111142  04:16:28   shopping_net   13.29  92.0      F    KY       571         0
111143  23:38:46    food_dining  100.46  39.0      M    WI      1360         1

[111144 rows x 8 columns]